# environment #
###############
.venv/
.vscode/
.env

*.code-workspace
**config.*

env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/


# folders #
###########


# OS files #
############
.DS_Store

# database files #
##################
*.db

# coverage files
.coverage



